@import url('https://fonts.googleapis.com/css2?family=Shrikhand&family=Fredoka&family=Oi&family=DotGothic16&family=Nerko+One&family=Signika+Negative:wght@300&display=swap');
body{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DotGothic16', 'Nerko One', 'Signika Negative', 'Fredoka';
    height: 90vh;
    animation: all 2s forwards;
}
@keyframes all {
    0%{
        margin-top: -10vh;
        opacity: 0%;
    }
    100%{
        opacity: 100%;
        margin-top: 0vh;
    }
}
.content img{
    width: 300px;
    height: 200px;
}
.text p{
    font-family: 'Fredoka';
}
.text .title{
    margin-top: -10px;
    margin-bottom: -5px;
    font-family: "DotGothic16";
    font-weight: bolder;
    color:rgb(255, 223, 117);
}
.content header{
    font-family: 'Shrikhand';
    font-size: 30px;
    margin-bottom: -10px;
}
.content{
    box-shadow: rgb(255, 223, 45) 0px 8px 24px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 20px 0px;
    background: rgb(255, 255, 255);
    width: 400px;
    height: 200px;
}
.items{
    border-top: 2px solid rgb(209, 209, 209) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    background: white;
}
button{
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #000000;
  cursor: pointer;
  font-family: 'DotGothic16';
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

button:hover {
    text-decoration: underline;
}